@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

#root {
  font-family: nunito, sans-serif;
  --color-black: #282828;
  --color-grey: #97938e;
  --color-blue: #bee2fd;
  --color-green: #acdbc5;
  --color-cream: #fceacc;
  --color-beige: #fff5ed;
}

.ant-menu {
  background: var(--color-cream);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: var(--color-beige);
}
